<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.simpati.bontoharu.simpatika" xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:allowBackup="true" android:label="SIMPATIKA" android:icon="@mipmap/ic_launcher">
    <activity android:name=".PagadeActivity" />
    <activity android:name=".PengajuanSuratActivity" />
    <activity android:name=".DashboardActivity" />
    <activity android:name=".LoginActivity">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
